<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - app_web_backend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/app_web_backend.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">app_web_backend</a>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
                <a class="nav-link text-white px-2" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white px-2" asp-area="" asp-controller="Veiculos" asp-action="Index">Veiculos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white px-2" asp-area="" asp-controller="Consumos" asp-action="Index">Consumos</a>
            </li>

            @if (User.IsInRole("Admin")) {
                <li class="nav-item">
                    <a class="nav-link text-white px-2" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuários</a>
                </li>
            }
            
        </ul>

        <div class="text-end">
            @if (User.Identity!.IsAuthenticated)
             {
                <ul>
                    <li class="nav-item text-white">
                         Olá, @User.Identity.Name
                    </li>
                    <a class="nav-link text-white" asp-controller="Usuarios" asp-action="Logout">
                        Sair
                    </a>
                </ul>
             }    
            else
             {
                <button type="button" class="btn btn-outline-light me-2"><a class="text-white" asp-controller="Usuarios" asp-action="Login">Login</a></button>
                <button type="button" class="btn btn-warning">Sign-up</button>
             }
        </div>
      </div>
    </div>
  </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - app_web_backend - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
 header {
    --bs-dark-rgb: 33,37,41;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
 }

a{
    text-decoration: none;
}
    
li {
    list-style: none;
}

 .me2 {
    margin-right: .5rem !important;
 }
</style>
